<div class="ighw-area" widget="{{section.settings.igwidgetid}}"></div>
  {% schema %}
  {
    "name": "IGHW Section",
    "settings": [
      {
        "type": "text",
        "id": "igwidgetid",
        "label": "IGHW Widget ID"
      }
    ],
    "presets": [
      {
        "name": "IGHW Section",
        "category": "Custom"
      }
    ]
  }
  {% endschema %}
