/*********************** Custom CSS for Boost AI Search & Discovery  ************************/
.boost-sd__filter-option-item-label {
  text-transform: capitalize;
}

.boost-sd__product-link-wrapper {
  pointer-events: auto;
  position: relative;
}

.boost-sd__product-link-wrapper * {
  pointer-events: none;
}

.boost-sd__product-link-wrapper button {
  pointer-events: auto !important;
  position: relative;
  z-index: 999;
}



